/*===================Start Property Action Bar Section====================*/
.property-action-bar-container {
    background:  #eee;
    width: 100%;
    height: 100px;
}

.property-action-bar-inner {
    padding-top: 30px;
}
.property-action-bar a{
    font-size: 20px;
    margin-left: 40px;
    text-decoration: none;
    color: cadetblue;
}

.property-action-bar a:hover {
    font-size: 25px;
}


/*==========================Start Property Container Section==================*/
.property-section .property-sherkin-island-slider {
    width: 100%;
    height: 300px;
}

.property-section .swiper-container {
    width: 100%;
    height: 100%;
}

.section-header h4 {
    color: rgb(87, 87, 87);
    font-size: 25px;
}

.section-header h2 {
    color: cadetblue;
}

.section-details {
    padding-top: 30px;
    justify-content: space-around
}
.section-details i {
    font-size: 30px;
    color: cadetblue;
}

.section-details span {
    font-size: 30px;
    padding-left: 10px;
}

.property-text-section {
    background: #eee;
}

.property-text-section h1 {
    padding-top: 30px;
    font-size: 25px;
    color: rgb(87, 87, 87);
}

.property-text-section h2 {
    padding-top: 30px;
    font-size: 20px;
    color: rgb(87, 87, 87);
}

.slide-image {
    width: 100%;
    overflow: hidden;
}

.slide-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/*=====================Start Media Queries======================*/
@media screen and (max-width: 767px){
    .section-details i {
        font-size: 20px;
    }
    .section-details span {
        font-size: 20px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px){
    .section-details i {
        font-size: 25px;
    }
    .section-details span {
        font-size: 25px;
    }
}